.lg-main-div {
    width: 100%;
    height: 100vh;
}

.lg-le-div {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
}

.lg_pg-logo {
    width: 300px;
}

.lg_pg-image {
    height: 320px;
}

.img-div-le {
    width: min-content;
}

.lg-ri-div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-ri-fm {
    width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    padding: 1rem;
}

.lg-sn-op ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem
}

.lg-sn-op ul li {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border-radius: 6px;
    width: 50%;
    padding: 0.75rem 0.5rem;
    margin: 0 0.3rem;
    font-size: 12px;
    font-weight: bold;
    color: #455197;
    display: flex;
}

.lg-sn-op ul li img {
    width: 14px;
    margin-right: 5px;
}

.lg-line {
    position: relative;
    margin: 2rem 0 2rem 0;
    border-bottom: 2px solid #dcdcdc;
}

.lg-line::before {
    content: 'OR';
    position: absolute;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    width: 30px;
    height: 20px;
    left: 46%;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lg-ri-fm input {
    width: 100%;
    padding: 0.75rem;
    border: 1.5px solid;
    border-radius: 4px;
    border-color: #dcdcdc;
    font-size: 13px;


}

.lg-ri-fm label {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #ffffff;
    bottom: 70px;
    font-size: 12px;
    color: #ffffff;
    left: 14px;
    transition: 0.1s ease-in;
}

.lg-ri-fm input:focus {
    outline: none;
    border: 1.5px solid #455197;
}

.lg-ri-fm input:focus+#lb {
    bottom: 60px;
    color: #455197;
}

.lg-ri-fm select:focus+#lb {
    bottom: 55px;
    color: #455197;
}


.pop-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1.5px solid;
    border-radius: 4px;
    border-color: #dcdcdc;
    font-size: 13px;


}

.pop-form label {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: #ffffff;
    bottom: 70px;
    font-size: 12px;
    color: #ffffff;
    left: 14px;
    transition: 0.1s ease-in;
}

.pop-form .pop-select label {
    bottom: 55px;
    color: #858585;

}


.pop-form input:focus {
    outline: none;
    border: 1.5px solid #455197;
}




.pop-form input:focus+#lb {
    bottom: 60px;
    color: #455197;
}



.pop-form select:focus+#lb {
    bottom: 55px;
    color: #455197;
}

.lg-button {
    width: 100%;
    padding: 0.5rem;
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #455197;
    border: none;
}

.lg-button:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

}

.rs-now {
    text-align: center;
    font-size: 14px;
    margin-top: 1rem;
}

.rs-now b {
    color: #455197;

}

.vl-msd-line {
    margin-top: -20px;
    color: red;
    font-size: 13px;
    text-align: end;
    display: flex;
    justify-content: space-between;
}



/* please login .css */

.pllogin img {
    width: 250px;
}

.pllogin {
    width: 80%;
    margin: 1rem;
    padding: 3rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: centerF;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

}

.pllogin-div {
    min-height: 75vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pl-con {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.reg-anim {
    overflow: hidden;
    position: relative;
}

.desg {
    /* background-color: #455197; */
    position: relative;
    z-index: 99999;
    margin-bottom: 1rem;
    border-radius: 50% 50% 0 0;
    height: 0px;
    border-left: 184px solid transparent;
    border-right: 184px solid transparent;
    border-bottom: 30px solid #455197;
}

.optic-scroll {
    position: relative;
    bottom: 0px;
    /* transition: bottom 2s ease-in-out; */
    animation: MoveUpDown 1.5s forwards;
    -webkit-animation: MoveUpDown 1.5s forwards;

}

@keyframes MoveUpDown {
    from {
        bottom: -120px;
    }

    to {
        bottom: 0px;
    }
}

.construcImg img {
    height: 470px;
}


/* media query for mobile max width  */
@media (max-width: 768px) {
    .lg-ri-fm {
    width: 100% !important;
    box-shadow: none;
    padding: 0;
    }
    .lg-ri-div{
    height: 80vh;
    margin-top: 10vh;
    align-items: start;


    }
    .lg-sn-op ul li {
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    }
    .pllogin{
        width: 100vw;
        display: block;
    }
    .pl-con{
        padding: 0;
        margin-top: 1rem;
    }
    .construcImg img {
        /* height: 312px; */
        width: 100%;
        height: auto;
    }
    [data-title]:after {
        position:inherit;
    }
}

/* media query for mobile max width  */
@media (max-width: 426px) {
    .lg-ri-fm {
    width: 100% !important;
    box-shadow: none;
    padding: 0;
    }
    .lg-ri-div{
    height: 80vh;
    margin-top: 10vh;
    align-items: start;


    }
    .lg-sn-op ul li {
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    }
    .pllogin{
        width: 100vw;
        display: block;
    }
    .pl-con{
        padding: 0;
        margin-top: 1rem;
    }
    .construcImg img {
        /* height: 312px; */
        width: 100%;
        height: auto;
    }
    [data-title]:after {
        position:inherit;
    }
}