.rank-se {
    margin-left: auto;
}

.rank-chartd {
    /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
    background-color: #F4F5FA;
    border-radius: 4px;
    display: block;
    padding: 0.5rem;
    margin-top: 2rem;
    text-align: center;
}

.rank-chartd p {
    margin: 0 !important;
    padding: 0 !important;
}

.rank-chartd h5 {
    padding-bottom: 1rem;
}

.dough-one {
    position: relative;
    padding: 15px;
    height: 220px;
}

.vertical-bar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.vertical-bar canvas {
    /* width: 100% !important; */
    font-size: 5px !important;
}

.se-vol {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.se-vol svg {
    color: #455197;
}

.con-ideas {
    color: #455197;
}

.con-ideas p {
    color: black;
    font-size: 12px;
    margin-bottom: 0;
}

.tab-pagination {
    display: flex;
    justify-content: end;
    align-items: center;
}

.tab-pagination svg {
    padding: 0 0.75rem;
    font-size: 18px;
    cursor: pointer;
}

.tab-pagination svg:hover {
    font-size: 19px;
    color: #455197;
}

.sel-cus-date select {
    min-width: 100px;
}

.KeywordRanksChart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 12, 33, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;

}

.KeywordRanksChart .keywordCanvas {
    width: 600px;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 4px;
}




.groIcon {
    position: relative;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 16px;
    min-height: 16px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    line-height: 0;
    background-color: green;
    border-radius: 2px;
}

.growArrow {
    display: flex;
}

.growArrow svg {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
}



/* media query for mobile max width  */
@media (max-width: 426px) {
    .se-vol {
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
        display: flex;
        justify-content: space-between;
    }
    .rank-se{
        display: none;
    }
    .sel-cus-date select{
        min-width: 0px;
        max-width: 60px;
    }
}